*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.ldoor{
    width: 50%;
    background-image: url(images/lion.jpg);
    background-size: cover;
    transform: rotateY(180deg);
    height:100%;
    position: absolute;
    left: 0;
    /* animation: ldoor 3s infinite;
    animation-delay: 1s; */
}

.rdoor{
    width: 50%;
    background-image: url(images/lion.jpg);
    background-size: cover;
    height:100%;
    position: absolute;
    right: 0;
    /* animation: rdoor 3s infinite;
    animation-delay: 1s; */
}

.gate_container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-image: url(../images/hardWork.jpg);
    background-size: cover;
    background-position-y: 20%; */
}

/* .gate_container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial Black;
    text-transform: uppercase;
    font-size: 100px;
    text-align: center;
} */

@keyframes ldoor{
    from{left:0;}
    to{left:-50%;}
}

@keyframes rdoor{
    from{right:0;}
    to{right:-50%;}
}

button{
    color: red;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid white;
}

.open{
    margin-left: 15%;
    margin-top: .2%;
}

.close {
    float:right;
    margin-top: .5%;
    margin-right: 15%;
}

.open:hover,
.close:hover {
    color: white;
    cursor: pointer;
}

.prepared {
    margin-left: 5%;
    color: red;
    border-bottom: 2px solid white;
    display: inline-block;
}

/*-----------Carousel---------*/

/* html, body {
    width: 100%;
    height: 100%;
    margin: 0;
} */

.carousel {
    margin: 5% 30%;
    /* position: relative; */
    position: fixed;
    width: 38%;
    height: 0;
    padding-bottom: 40%;
    background: #4c4c4c;
    border: 10px solid red;
}

.slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide_img img {
    width: 100%;
    height: 100%;
}


#i1, #i2, #i3, #i4, #i5, #i6 {
    display: none;
}


/* .pre, .nxt {
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88,88,88,.4);
    z-index: 99;
    cursor: pointer;
} */

.pre{
    left: 0;
}

.nxt{
    right: 0;
} 

.c_nav {
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

/* .dots {
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: white;
} */


.slide_img {
    z-index: -1;
}


#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six{
    z-index: 9;
} 

/* #i1:checked ~ .c_nav #dot1, 
#i2:checked ~ .c_nav #dot2, 
#i3:checked ~ .c_nav #dot3 {
    background: dodgerblue;
}  */